@tailwind base;
@tailwind components;
@tailwind utilities;
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 56px; /* Chiều cao tối thiểu của 2 dòng */
}
